<div class='auth-container'>
<% if current_user %>
  Welcome <%= current_user.email %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in", "/auth/dailycred" %>
  <p>This is an example app created by <a href="https://dailycred.com">Dailycred</a> to demonstrate our "User-Accounts as a service" product. Check out
  	the source code <a href="http://www.github.com/hstove/dc-todo">here</a> and view the dashboard for all analytics for this product
  	<a href="https://dailycred.com/sandbox">here!</a> Remember, this is a public app and anyone can view the analytics, so feel free to use a fake email
  	account when signing up.</p>
<% end %>
</div>